<!--resources/templates/mypage/applied-lectures.html-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>신청한 강좌 목록</title>

</head>
<body>
<h2>신청한 강좌 목록</h2>
<div style="overflow: auto;">
  <div th:if="${appliedLectures == null || appliedLectures.isEmpty()}">
    <p>신청한 강좌가 없습니다.</p>
    <button type="button" onclick="window.location.href='/lectureList';">강좌목록으로</button>
  </div>

  <ul th:unless="${appliedLectures == null || appliedLectures.isEmpty()}" th:each="lecture : ${appliedLectures}">
    <li><strong>강좌 제목 :</strong> <span th:text="${lecture.lectureTitle}"></span></li>
    <li><strong>신청 이유 :</strong> <span th:text="${lecture.applyReason}"></span></li>
    <li><strong>신청 날짜 :</strong> <span th:text="${lecture.createdDate}"></span></li>
    <li><strong>강좌신청 승인여부 :</strong> <span th:text="${lecture.lectureApplyStatus}"></span></li>
    <li><strong>강좌 상태:</strong> <span th:text="${lecture.lectureStatus}"></span></li>
    <li>
      <a th:href="@{/mypage/edit-apply-reason/{id}(id=${lecture.leId})}">신청 이유 수정</a>
      <!--<button type="button=>신청 취소</button>-->
    </li>
  </ul>
  <br><br>
  <button type="button" onclick="window.location.href='/user/mypage';">마이페이지로 돌아가기</button>
</div>

</body>
</html>
