<!-- resoirces/templates/index.html-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Welcome to SeniorJob</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">SeniorJob</a>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link" th:href="@{/lecture/lectureList}">강좌 탐색</a>
                <a class="nav-link" th:href="@{/lecture/lectureCreate}">강좌 개설</a>
                <a class="nav-link" th:href="@{/lecture/lectureProposal}">강좌 제안</a>
                <a class="nav-link" th:href="@{/user/userpage}">마이페이지</a><!--마이페이지 만든후 안에 회원관리,마이페이지넣기-->
            </div>
        </div>
        <span th:if="${username}">
    <span th:text="${username} + '님 환영합니다'"></span> | <a href="/logout">로그아웃</a>
</span>
        <span th:unless="${username}">
    <a href="/login">로그인</a>
</span>
    </div>
</nav>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-12 text-center">
            <h1>시니어 일자리에 오신것을 환영합니다.</h1>
            <p>여기는 홈페이지 입니다.</p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.0.7/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script></body>
</html>
