<!-- resources/templates/lectureDetail.html -->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title th:text="${lecture.title}"></title>
</head>
<body>

<h2 th:text="${lecture.title}">강좌제목</h2>

<p><strong>개설자 :</strong>
  <span th:if="${lecture.creator != null}" th:text="${lecture.creator}"></span>
  <span th:if="${lecture.creator == null}">N/A</span></p>

<p><strong>카테고리 :</strong>
  <span th:if="${lecture.category != null}" th:text="${lecture.category}"></span>
  <span th:if="${lecture.category == null}">N/A</span></p>

<p><strong>가격 :</strong>
  <span th:if="${lecture.price != null}" th:text="${lecture.price}"></span>
  <span th:if="${lecture.price == null}">N/A</span></p>

<p><strong>내용 :</strong>
  <span th:if="${lecture.content != null}" th:text="${lecture.content}"></span>
  <span th:if="${lecture.content == null}">N/A</span></p>

<p><strong>주기 :</strong>
  <span th:if="${lecture.cycle != null}" th:text="${lecture.cycle}"></span>
  <span th:if="${lecture.cycle == null}">N/A</span></p>
<p><strong>횟수 :</strong>
  <span th:if="${lecture.count != null}" th:text="${lecture.count}"></span>
  <span th:if="${lecture.count == null}">N/A</span></p>
<p><strong>모집 마감 날짜 :</strong>
  <span th:if="${lecture.recruitEnd_date != null}" th:text="${#temporals.format(lecture.recruitEnd_date, 'yyyy-MM-dd HH:mm')}"></span></p>
<p><strong>시작 날짜 :</strong>
  <span th:if="${lecture.start_date != null}" th:text="${#temporals.format(lecture.start_date, 'yyyy-MM-dd HH:mm')}"></span></p>
<p><strong>종료 날짜 :</strong>
  <span th:if="${lecture.end_date != null}" th:text="${#temporals.format(lecture.end_date, 'yyyy-MM-dd HH:mm')}"></span></p>


<p><strong>지역 :</strong>
  <span th:if="${lecture.region != null}" th:text="${lecture.region}"></span>
  <span th:if="${lecture.region == null}">N/A</span></p>

<p><strong>모집인원 :</strong>
  <span th:if="${lecture.max_participants != null}" th:text="${lecture.max_participants}"></span>
  <span th:if="${lecture.max_participants == null}">N/A</span></p>

<p><strong>현재 참가자 수 :</strong>
  <span th:if="${lecture.current_participants != null and lecture.current_participants > 0}" th:text="${lecture.current_participants}"></span>
  <span th:if="${lecture.current_participants == null or lecture.current_participants == 0}">
    아직 신청인원이 없습니다.</span>

<p><strong>강좌 상태 :</strong>
  <span th:if="${lecture.status != null}" th:text="${lecture.status}"></span>
  <span th:if="${lecture.status == null}">N/A</span></p>

<p><strong>강좌 모집 마감 여부 :</strong>
  <span th:if="${lecture.status != null and #strings.equalsIgnoreCase(lecture.status, '신청가능상태')}">모집 중</span>
  <span th:if="${lecture.status == null or !#strings.equalsIgnoreCase(lecture.status, '신청가능상태')}">마감</span></p>

  <img th:if="${lecture.image_url != null}" th:src="${lecture.image_url}" alt="강좌 이미지" width="300">
<span th:if="${lecture.image_url == null}">이미지 없음</span>



<br><br><a th:href="@{/lecture/lectureList}">강좌목록으로 돌아가기</a>

</body>
</html>
